body {
    background-color: rgb(8, 22, 49);
}

header {
    color: white;
    position: relative;
    text-align: center;
}

input[type="text"] {
    width: 24em;
    height: 2em;
}

.todoFormsContainer {
    display: flex;
    justify-content: center;
    margin-top: 5em;
}

#todoform {
    text-align: center;
    width: 24em;
    height: 2em;
}

#todos-list {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

#todos-list div {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1em 0em;
    background-color: rgb(123, 141, 176);
    border-radius: 1em;
    width: 17em;
    height: 2.5em;
}


#todos-list div i {
    margin-right: 3em; /* Adjust margin */
    font-size: 2em; /* Adjust icon size */
}

p {
    color: white;
}

button {
    position: fixed;
    background-color: rgb(8, 22, 49);
    color: white;
    border: none;
    font-size: 2.2em;
    margin-left: 11.5em;
    margin-top: 0;
}
